/* 	Project: PROG 5075 ASSIGNMENT 5 - Toronto COVID Vaccine Clinics Leaflet
	Title: style.css
	Purpose: CSS for Assignment 5 Leaflet
	Author: Emily Holdsworth
	Date: March 2021
 */
/*style of aligned left text */
.alignleft{
    float: left;
    width: 33.3333%;
    text-align: left;
}
/* style of aligned right text*/
.alignright{
    float: left;
    width: 33.3333%;
    text-align: right;
}
/* style of aligned centre text */
.aligncentre{
    float: left;
    width: 17%;
    text-align: right;
}
/* style of document body */
body{
    background-color: #ADDEE5;
}
/* style of logo in header */
.cogslogo{
    float: right;
    text-align: right;
    height: 37px;
    width: 250px;
    margin-right: 1em;
    margin-top: 1em;
}
/* style of outer footer */
.footer{
    background-color: #01588E;
    height: 50px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
}
/* style of inner footer */
.footer2{
    clear: both;
    margin: 1em;
    height: 40px;
    text-align: center;
    color: #ffffff;
}
/* style of header div*/
.header{
    height: 75px;
    background-color: #01588E;
    clear: right;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
}
/* style of heading 2 */
h1{
    float: left;
    margin-left: 15px;
}
/* style of p containing mouse position long,lat */
.mousey{
    float: left;
    width: 16%;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}
#mapid{
    height: 80vh;
    width: 99vw;
}
a:visited{
    color: #ffffff;
}
a:hover{
    color: #ED008C;
}
.links {
    color: #ffffff;
}